@import "../../assets/styles/_variables.scss";

.section {
  padding: 120px 0;
  max-width: 1280px;
  margin: auto;
  font-family: "Poppins", sans-serif;
  background: $color-whiteish;

  @media screen and (max-width: $breakpoint-mobile-medium) {
    padding: 64px 0;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $breakpoint-desktop-small) {
    flex-direction: column;
    align-items: center;
  }
}

.block {
  max-width: 400px;
  position: relative;

  @media screen and (min-width: $breakpoint-desktop-small) {
    &:after {
      content: '';
      width: 1px;
      height: 56px;
      background: $color-blackish;
      opacity: .2;
      position: absolute;
      top: 32px;
      right: -40px;
    }
  }
}

.title {
  max-width: 300px;
  margin: 0;

  @media screen and (max-width: $breakpoint-desktop-small) {
    max-width: 100%;
    text-align: center;
  }
}

.button {
  box-sizing: border-box;
  width: 264px;
  height: 64px;
  padding: 16px;
  display: flex;
  color: $color-black;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  font-size: $font-size-medium;
  line-height: 32px;
  margin-top: 32px;
  border: 2px solid $color-blackish;
  transition: border-color 0.3s ease, color 0.3s ease, background-color 0.3s ease;

  &:hover {
    border: 2px solid $color-orange;
    color: $color-white;
    background: $color-orange;

    img {
      filter: invert(1);
    }
  }

  &:focus {
    outline: none;
  }

  @media screen and (max-width: $breakpoint-desktop-small) {
    display: none;
  }

  &Mobile {
    @extend .button;
    display: none;

    @media screen and (max-width: $breakpoint-desktop-small) {
      display: flex;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.logos {
  display: grid;
  grid-template-columns: 137px 110px 179px;
  grid-template-rows: 24px 24px 38px;
  column-gap: 71px;
  row-gap: 25px;
  margin-top: 8px;

  @media screen and (max-width: $breakpoint-desktop-small) {
    margin-top: 32px;
  }

  @media screen and (max-width: 575px){
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  @media screen and (max-width: $breakpoint-mobile-small) {
    grid-template-columns: 1fr;
  }

  img {
    margin: auto;

    &:last-child {
      @media screen and (max-width: 575px) {
        grid-column: 1 / span 2;
      }
      @media screen and (max-width: $breakpoint-mobile-small) {
        grid-column: 1;
      }
    }
  }
}
