// colors
$color-orange: #FF5621;
$color-black: #141414;
$color-white: #FAFAFA;
$color-blackish: #000000;
$color-whiteish: #ffffff;
$color-purple: #52285F;
$color-dark-gray: #2C2832;
$color-light-gray: #9790A3;

//font size
$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-normal: 15px;
$font-size-large: 24px;
$font-size-extra-large: 36px;
$font-size-huge: 54px;
$font-size-very-huge: 100px;

//breakpoint
$breakpoint-mobile-small: 400px;
$breakpoint-mobile-medium: 550px;
$breakpoint-mobile-large: 600px;
$breakpoint-tablet: 767px;
$breakpoint-desktop-small: 990px;
$breakpoint-desktop: 1300px;


